@media (max-width: 320px)
{
    #BioSectionFooterUpper
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 100% !important;
    }
    #BioSectionFooterRight
    {
        width: 100% !important;
    }
    #BioSectionUpper
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionUpperLeft
    {
        width: 100% !important;
    }
    #BioSectionUpperRight
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioTitle
    {
        font-size: 1rem !important;
    }
    #BioSubtitle
    {
        font-size: 0.9rem !important;
    }
    #BioUpperDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 0.9rem !important;
    }
}
@media (min-width: 320px)
{
    #BioSectionFooterUpper
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 100% !important;
    }
    #BioSectionFooterRight
    {
        width: 100% !important;
    }
    #BioSectionUpper
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionUpperLeft
    {
        width: 100% !important;
    }
    #BioSectionUpperRight
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioTitle
    {
        font-size: 1.045rem !important;
    }
    #BioSubtitle
    {
        font-size: 0.9rem !important;
    }
    #BioUpperDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 0.9rem !important;
    }
}
@media (min-width: 480px)
{
    #BioSectionFooterUpper
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 100% !important;
    }
    #BioSectionFooterRight
    {
        width: 100% !important;
    }
    #BioSectionUpper
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionUpperLeft
    {
        width: 100% !important;
    }
    #BioSectionUpperRight
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioTitle
    {
        font-size: 1.2rem !important;
    }
    #BioSubtitle
    {
        font-size: 0.95rem !important;
    }
    #BioUpperDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 0.9rem !important;
    }
}
@media (min-width: 600px)
{
    #BioSectionFooterUpper
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 100% !important;
    }
    #BioSectionFooterRight
    {
        width: 100% !important;
    }
    #BioSectionUpper
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionUpperLeft
    {
        width: 100% !important;
    }
    #BioSectionUpperRight
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioTitle
    {
        font-size: 1.5rem !important;
    }
    #BioSubtitle
    {
        font-size: 1.25rem !important;
    }
    #BioUpperDescription
    {
        font-size: 1.1rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 1.1rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 1.1rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 1.1rem !important;
    }
}
@media (min-width: 768px)
{
    #BioSectionFooterUpper
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 100% !important;
    }
    #BioSectionFooterRight
    {
        width: 100% !important;
    }
    #BioSectionUpper
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionUpperLeft
    {
        width: 100% !important;
    }
    #BioSectionUpperRight
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioTitle
    {
        font-size: 1.65rem !important;
    }
    #BioSubtitle
    {
        font-size: 1.3rem !important;
    }
    #BioUpperDescription
    {
        font-size: 1.2rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 1.2rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 1.2rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 1.2rem !important;
    }
}
@media (min-width: 830px)
{
    #BioSectionFooterUpper
    {
        flex-direction: row !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 50% !important;
    }
    #BioSectionFooterRight
    {
        width: 50% !important;
    }
    #BioSectionUpper
    {
        flex-direction: row !important;
    }
    #BioSectionUpperLeft
    {
        width: 45% !important;
    }
    #BioSectionUpperRight
    {
        width: 45% !important;
        margin-bottom: 0 !important;
    }
    #BioTitle
    {
        font-size: 1.075rem !important;
    }
    #BioSubtitle
    {
        font-size: 1rem !important;
    }
    #BioUpperDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 0.9rem !important;
    }
}
@media (min-width: 1024px)
{
    #BioSectionFooterUpper
    {
        flex-direction: row !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 40% !important;
    }
    #BioSectionFooterRight
    {
        width: 40% !important;
    }

    #BioSectionUpper
    {
        flex-direction: row !important;
    }
    #BioSectionUpperLeft
    {
        width: 41.66% !important;
    }
    #BioSectionUpperRight
    {
        width: 41.66% !important;
        margin-bottom: 0 !important;
    }
    #BioTitle
    {
        font-size: 1.2rem !important;
    }
    #BioSubtitle
    {
        font-size: 1.05rem !important;
    }
    #BioUpperDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 0.9rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 0.9rem !important;
    }
}
@media (min-width: 1200px)
{
    #BioSectionFooterUpper
    {
        flex-direction: row !important;
    }
    #BioSectionFooterLower
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeft
    {
        width: 40% !important;
    }
    #BioSectionFooterRight
    {
        width: 40% !important;
    }
    #BioSectionUpper
    {
        flex-direction: row !important;
    }
    #BioSectionUpperLeft
    {
        width: 41.66% !important;
    }
    #BioSectionUpperRight
    {
        width: 41.66% !important;
        margin-bottom: 0 !important;
    }
    #BioTitle
    {
        font-size: 1.35rem !important;
    }
    #BioSubtitle
    {
        font-size: 1.15rem !important;
    }
    #BioUpperDescription
    {
        font-size: 1rem !important;
    }
    #BioFooterLeftDescription
    {
        font-size: 1rem !important;
    }
    #BioFooterRightDescription
    {
        font-size: 1rem !important;
    }
    #BioFooterCenterDescription
    {
        font-size: 1rem !important;
    }
}