@font-face
{
    font-family: "CommunistBasic";
    src: url('../Fonts/CommunistBasic.ttf');
}
@font-face
{
    font-family: "CommunistBold";
    src: url('../Fonts/CommunistBold.ttf');
}
@font-face
{
    font-family: "CommunistSoft";
    src: url('../Fonts/CommunistSoft.ttf');
}
@font-face
{
    font-family: "SansationRegular";
    src: url('../Fonts/Sansation_Regular.ttf');
}
@font-face
{
    font-family: "KeepCalm";
    src: url('../Fonts/KeepCalm.ttf');
}

.CommunistBasic
{
    font-family: "CommunistBasic", serif;
}
.CommunistBold
{
    font-family: "CommunistBold", serif;
}
.CommunistSoft
{
    font-family: "CommunistSoft", serif;
}
.SansationRegular
{
    font-family: "SansationRegular", serif;
}
.KeepCalm
{
    font-family: "KeepCalm", serif;
}
.Calibri
{
    font-family: Calibri, serif;
}