@media (max-width: 320px)
{
    #ModalContentDescriptionDescription
    {
        font-size: 0.925rem;
    }
    #projects
    {
        flex-direction: column;
    }
}
@media (min-width: 320px)
{
    #ModalContentDescriptionDescription
    {
        font-size: 0.925rem;
    }
    #projects
    {
        flex-direction: column;
    }
}
@media (min-width: 480px)
{
    #ModalContentDescriptionDescription
    {
        font-size: 0.925rem;
    }
    #projects
    {
        flex-direction: column;
    }
}
@media (min-width: 600px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: column;
    }

    .modal-dialog-landscape
    {
        max-width: 85% !important;
    }
    .modal-content-landscape
    {
        flex-direction: column !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 100% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 60% !important;
    }
    .modal-content-portrait
    {
        flex-direction: column !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 100% !important;
    }
}
@media (min-width: 768px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: column;
    }

    .modal-dialog-landscape
    {
        max-width: 75% !important;
    }
    .modal-content-landscape
    {
        flex-direction: column !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 100% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 65% !important;
    }
    .modal-content-portrait
    {
        flex-direction: column !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 100% !important;
    }
}
@media (min-width: 900px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: column;
    }

    .modal-dialog-landscape
    {
        max-width: 75% !important;
    }
    .modal-content-landscape
    {
        flex-direction: column !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 100% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 55% !important;
    }
    .modal-content-portrait
    {
        flex-direction: column !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 100% !important;
    }
}
@media (min-width: 992px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: row;
    }

    .modal-dialog-landscape
    {
        max-width: 75% !important;
    }
    .modal-content-landscape
    {
        flex-direction: column !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 100% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 65% !important;
    }
    .modal-content-portrait
    {
        flex-direction: row !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 50% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 50% !important;
    }
    .modal-dialog-squared
    {
        max-width: 95% !important;
    }
    .modal-content-squared
    {
        flex-direction: row !important;
    }
    .modal-content-squared #ModalContentCarousel
    {
        width: 50% !important;
    }
    .modal-content-squared #ModalContentDescription
    {
        width: 50% !important;
    }
}
@media (min-width: 1200px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: row;
    }

    .modal-dialog
    {
        flex-direction: row !important;
    }
    .modal-dialog-landscape
    {
        max-width: 65% !important;
    }
    .modal-content-landscape
    {
        flex-direction: column !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 100% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 100% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 55% !important;
    }
    .modal-content-portrait
    {
        flex-direction: row !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 50% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 50% !important;
    }
    .modal-dialog-squared
    {
        max-width: 80% !important;
    }
    .modal-content-squared
    {
        flex-direction: row !important;
    }
    .modal-content-squared #ModalContentCarousel
    {
        width: 50% !important;
    }
    .modal-content-squared #ModalContentDescription
    {
        width: 50% !important;
    }
}
@media (min-width: 1650px)
{
    #ModalContentDescriptionDescription
    {
        font-size: .925rem;
    }
    #projects
    {
        flex-direction: row;
    }

    .modal-dialog
    {
        flex-direction: row !important;
    }
    .modal-dialog-landscape
    {
        max-width: 95% !important;
    }
    .modal-content-landscape
    {
        flex-direction: row !important;
    }
    .modal-content-landscape #ModalContentCarousel
    {
        width: 60% !important;
    }
    .modal-content-landscape #ModalContentDescription
    {
        width: 40% !important;
    }
    .modal-dialog-portrait
    {
        max-width: 45% !important;
    }
    .modal-content-portrait
    {
        flex-direction: row !important;
    }
    .modal-content-portrait #ModalContentCarousel
    {
        width: 50% !important;
    }
    .modal-content-portrait #ModalContentDescription
    {
        width: 50% !important;
    }
    .modal-dialog-squared
    {
        max-width: 55% !important;
    }
    .modal-content-squared
    {
        flex-direction: row !important;
    }
    .modal-content-squared #ModalContentCarousel
    {
        width: 55% !important;
    }
    .modal-content-squared #ModalContentDescription
    {
        width: 45% !important;
    }
}