@keyframes terminal-blink
{
    0%, 50%
    {
        background-color: #aaa;
        color: #300A25;
    }
    50.1%, 100%
    {
        background-color: #300A25;
        color: #aaa;
    }
}

.cmd .cmd-wrapper .cmd-cursor-line .cmd-cursor .end
{
    background-color: #300A25 !important;
}

.terminal-output .terminal-command
{
    background-color: #300A25 !important;
}

.terminal-output .terminal-error
{
    background-color: #300A25 !important;
}

.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji), .terminal.external [data-text]
{
    background-color: #300A25;
    color: #aaa;
}