.text-justify
{
    text-align: justify !important;
}

.text-opaque-dark
{
    color: #232323 !important;
}
.text-opaque-light
{
    color: #8f8f8f !important;
}

.text-white
{
    color: #ffffff !important;
}

.text-cream
{
    color: #d1d2cf !important;
}

.text-red
{
    color: #ff0000 !important;
}

.text-indent-1
{
    text-indent: 2em !important;
}

.selected
{
    font-weight: bold !important;
}
.deselected
{
    font-weight: normal !important;
}

.link-dark
{
    color: #111111 !important;
    text-decoration: underline !important;
}

.line-height-1
{
    line-height: 3.5rem !important;
}