@media (max-width: 320px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 100% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1.15rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1.15rem !important;
    }
}
@media (min-width: 320px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 100% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1.15rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1.15rem !important;
    }
}
@media (min-width: 480px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 100% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1.15rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1.15rem !important;
    }
}
@media (min-width: 600px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 100% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1.15rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1.15rem !important;
    }
}
@media (min-width: 768px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: column-reverse !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 100% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1.15rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1.15rem !important;
    }

}
@media (min-width: 830px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: row !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 45% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 45% !important;
        margin-bottom: 0 !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 0.9rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: column !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 95% !important;
        margin-top: 3rem !important;
        margin-bottom: .5rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 90% !important;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1rem !important;
    }
}
@media (min-width: 1024px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: row !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 41.66% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 41.66% !important;
        margin-bottom: 0 !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 0.95rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: row !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 40% !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 40% !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: .95rem !important;
    }
}
@media (min-width: 1200px)
{
    #BioSectionHeaderPNL
    {
        flex-direction: row !important;
    }
    #BioSectionHeaderLeftPNL
    {
        width: 41.66% !important;
    }
    #BioSectionHeaderRightPNL
    {
        width: 41.66% !important;
        margin-bottom: 0 !important;
    }
    #BioSectionHeaderDescriptionTMP
    {
        font-size: 1rem !important;
    }
    #BioSectionFooterPNL
    {
        flex-direction: row !important;
    }
    #BioSectionFooterLeftPNL
    {
        width: 45% !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    #BioSectionFooterRightPNL
    {
        width: 45% !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    #TopicAnswerTMP
    {
        font-size: 1rem !important;
    }
}

#BioSectionFooterPNL
{
    background-color: #111111 !important;
}