@media (max-width: 320px)
{
    #TerminalWindowPNL
    {
        width: 100% !important;
        height: 100% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 0 0 0 0 !important;
    }
}
@media (min-width: 320px)
{
    #TerminalWindowPNL
    {
        width: 100% !important;
        height: 100% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 0 0 0 0 !important;
    }
}
@media (min-width: 480px)
{
    #TerminalWindowPNL
    {
        width: 100% !important;
        height: 100% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 0 0 0 0 !important;
    }
}
@media (min-width: 600px)
{
    #TerminalWindowPNL
    {
        width: 100% !important;
        height: 100% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 0 0 0 0 !important;
    }
}
@media (min-width: 768px)
{
    #TerminalWindowPNL
    {
        width: 100% !important;
        height: 100% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 0 0 0 0 !important;
    }
}
@media (min-width: 900px)
{
    #TerminalWindowPNL
    {
        width: 75% !important;
        height: 75% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 10px 10px 0 0 !important;
    }
}
@media (min-width: 992px)
{
    #TerminalWindowPNL
    {
        width: 75% !important;
        height: 75% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 10px 10px 0 0 !important;
    }
}
@media (min-width: 1200px)
{
    #TerminalWindowPNL
    {
        width: 50% !important;
        height: 50% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 10px 10px 0 0 !important;
    }
}
@media (min-width: 1650px)
{
    #TerminalWindowPNL
    {
        width: 50% !important;
        height: 50% !important;
    }
    #TerminalHeaderPNL
    {
        border-radius: 10px 10px 0 0 !important;
    }
}
@keyframes terminal-blink
{
    0%, 50%
    {
        background-color: #aaa;
        color: #300A25;
    }
    50.1%, 100%
    {
        background-color: #300A25;
        color: #aaa;
    }
}

#terminal-greeting
{
    font-size: .85rem !important;
}
.cmd .cmd-wrapper .cmd-cursor-line .cmd-cursor .end
{
    background-color: #300A25 !important;
}
.terminal-output .terminal-command
{
    background-color: #300A25 !important;
}
.terminal-output .terminal-error
{
    background-color: #300A25 !important;
}
.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji), .terminal.external [data-text]
{
    background-color: #300A25;
    color: #aaa;
}
.Typewriter__wrapper
{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.terminal-scroller
{
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    padding: 0 !important;
}
.terminal-wrapper
{
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}